.my-modal {
    left: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: black;
    top: 100px;
    height: calc(100vh - 100px);
    width: 100%;
    padding: 10px;
    color: white;
    z-index: 100;
    transition: left 0.6s linear;
    overflow: auto;
}

.active-modal {
    left: 0;
}

.active-modal h2 {
    font-size: 18px;
}

.active-modal p {
    font-size: 14px;
}

.active-modal .my-card__description {
    --max-lines: 2;
    -webkit-line-clamp: 2;
}

.active-modal .my-card {
    border-bottom: 1px solid var(--brown);
    margin-top: 10px;
}

.rotate-icon {
    rotate: 45deg;
}

.notActive {
    transition: all 0.6s ease;
    opacity: 0;
}

.modal-search__item {
    border-bottom: 1px solid var(--lightgray);
    padding: 30px 0 10px;
}

.modal-search__label {
    border-bottom: 1px solid var(--bs-white);
}

.modal-menu {
    justify-content: space-between;
}

.modal-menu ul {
    list-style: none;
    padding: 0;
}

.modal-links {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    gap: 16px;
}

.modal-links a {
    color: white;
    text-decoration: none;
    position: relative;
}

.modal-links a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    background: white;
    width: 0;
    height: 2px;
    transition: width 0.4s ease;
}



.modal__social-icons {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    .modal-links a:hover {
        color: white;
    }
    
    .modal-links a:hover::after {
        transition: width 0.4s ease;
        width: 100%;
    }
}